.event-container{
    display: flex;
    flex: 1;
    background-color: rgba(233, 232, 232, 0.918);
    margin-bottom: 5%;
}
#event-image{
    width: 50%;
    background-image: url('../image//remote.jpg');
    background-position: center;
    background-size: cover;
}
.upcoming-event{
    padding: 2%;
    width: 30%;
    font-family: sans-serif;
    word-spacing: 2px;
}   
.event-head>h3{
    text-align: left;
    margin-top: 0%;
    font-size: 110%;
}
#desc{
    width: 100%;
    font-size: 75%;
    text-align: left;
    font-weight: 600;
}
.articles{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
}
#info{
    text-align: left;
    font-size: 80%;
    margin-bottom: -3%;
    margin-top: -3%;
}
#info>p{
    margin-top: -5%;
    font-size: 95%;
    font-family: serif;
}
#info>h4{
    font-size: 90%;
    word-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}